## Deliverable 2. Create a Customer Travel Destinations Map.

In [71]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [72]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Manzanillo,CU,20.3433,-77.1167,91.40,51,81,11.97,broken clouds
1,1,Rikitea,PF,-23.1203,-134.9692,74.03,72,100,15.08,overcast clouds
2,2,Atuona,PF,-9.8000,-139.0333,77.38,65,0,20.74,clear sky
3,3,Ahipara,NZ,-35.1667,173.1667,57.81,90,19,16.75,few clouds
4,4,East London,ZA,-33.0153,27.9116,65.21,72,99,4.25,overcast clouds

In [73]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 75

In [74]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Rikitea,PF,-23.1203,-134.9692,74.03,72,100,15.08,overcast clouds
13,13,La Ronge,CA,55.1001,-105.2842,70.02,40,40,10.36,scattered clouds
18,18,Kapoeta,SS,4.7717,33.5903,74.62,68,100,3.83,overcast clouds
27,27,Vaini,TO,-21.2000,-175.2000,71.76,88,20,5.75,few clouds
33,33,Kupang,ID,-10.1667,123.5833,74.23,74,23,13.91,few clouds
40,40,La Libertad,EC,-2.2333,-80.9000,74.86,73,20,10.36,few clouds
90,90,Teplyk,UA,48.6657,29.7450,70.27,54,81,11.36,broken clouds
100,100,Fortuna,US,40.5982,-124.1573,72.93,70,28,5.01,scattered clouds
152,152,Ankpa,NG,7.3706,7.6253,71.58,94,97,5.01,overcast clouds
159,159,Los Llanos De Aridane,ES,28.6585,-17.9182,71.35,78,20,16.11,few clouds

In [75]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        75
City           75
Country        75
Lat            75
Lng            75
Max Temp       75
Humidity       75
Cloudiness     75
Wind Speed     75
Description    75
dtype: int64

In [76]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [77]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Rikitea,PF,74.03,overcast clouds,-23.1203,-134.9692,
13,La Ronge,CA,70.02,scattered clouds,55.1001,-105.2842,
18,Kapoeta,SS,74.62,overcast clouds,4.7717,33.5903,
27,Vaini,TO,71.76,few clouds,-21.2000,-175.2000,
33,Kupang,ID,74.23,few clouds,-10.1667,123.5833,
40,La Libertad,EC,74.86,few clouds,-2.2333,-80.9000,
90,Teplyk,UA,70.27,broken clouds,48.6657,29.7450,
100,Fortuna,US,72.93,scattered clouds,40.5982,-124.1573,
152,Ankpa,NG,71.58,overcast clouds,7.3706,7.6253,
159,Los Llanos De Aridane,ES,71.35,few clouds,28.6585,-17.9182,

In [78]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print('found')
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
Hotel not found... skipping.
found
Hotel not found... skipping.
found
found
Hotel not found... skipping.
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
Hotel not found... skipping.
found
found
found
found
found
Hotel not found... skipping.
Hotel not found... skipping.
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
found
Hotel not found... skipping.
found
found
found
found
found

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Rikitea,PF,74.03,overcast clouds,-23.1203,-134.9692,People ThankYou
13,La Ronge,CA,70.02,scattered clouds,55.1001,-105.2842,Northland Motor Hotel
18,Kapoeta,SS,74.62,overcast clouds,4.7717,33.5903,Eastgate Hotel
27,Vaini,TO,71.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
33,Kupang,ID,74.23,few clouds,-10.1667,123.5833,Hotel On The Rock by Prasanthi
...,...,...,...,...,...,...,...
640,Enshi,CN,71.56,overcast clouds,30.3000,109.4833,Moevenpick Enshi
642,Ler,SS,71.08,light rain,8.3018,30.1418,Leer Humanitarian Hub
647,Ketchikan,US,71.02,clear sky,55.3422,-131.6461,Snow's Cove Lodge
661,Flic En Flac,MU,71.53,scattered clouds,-20.2742,57.3631,Hilton Mauritius Resort & Spa
669,Libourne,FR,70.30,clear sky,44.9167,-0.2500,Hôtel Mercure Libourne Saint-Émilion

In [79]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Rikitea,PF,74.03,overcast clouds,-23.1203,-134.9692,People ThankYou
13,La Ronge,CA,70.02,scattered clouds,55.1001,-105.2842,Northland Motor Hotel
18,Kapoeta,SS,74.62,overcast clouds,4.7717,33.5903,Eastgate Hotel
27,Vaini,TO,71.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
33,Kupang,ID,74.23,few clouds,-10.1667,123.5833,Hotel On The Rock by Prasanthi
...,...,...,...,...,...,...,...
640,Enshi,CN,71.56,overcast clouds,30.3000,109.4833,Moevenpick Enshi
642,Ler,SS,71.08,light rain,8.3018,30.1418,Leer Humanitarian Hub
647,Ketchikan,US,71.02,clear sky,55.3422,-131.6461,Snow's Cove Lodge
661,Flic En Flac,MU,71.53,scattered clouds,-20.2742,57.3631,Hilton Mauritius Resort & Spa
669,Libourne,FR,70.30,clear sky,44.9167,-0.2500,Hôtel Mercure Libourne Saint-Émilion

In [80]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "Vacation_Search.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [81]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [82]:
# 11a. Add a marker layer for each city to the map.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))